.share {
  width: 100%;
  height: 60%;
  background-color: #8A5A44;
  display: flex;
  align-items: center;
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.share-header-container {
  width: 82%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share-text {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #FFFFFF;
  width: 82%;
  text-align: left;
}

.share-header-1,
.share-header-2 {
  color: #FFFFFF;
  text-align: left;
  width: 100%;
}

.share-header-2 {
  width: 100%;
}
