
.cta {
  width: 100%;
  padding-top: 30px;
  background-color: #9e7058;
  display: flex;
  justify-content: space-evenly;
}

.cta-header {
  margin: 0;
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.135em;
}

.cta-content {
  width: 55%;
  align-self: center;
  text-align: left;
  text-decoration: none;
  color: #CBD7C7;
}

.cta-text {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  margin: 20px 0px;
}

.grow {
  width: 100%;
  padding-top: 10px;
}

.water {
  width: 100%;
  padding-top: 60px;
}

.plant {
  width: 100%;
  padding-top: 60px;
}

.produce {
  width: 100%;
  flex-direction: row-reverse;
  background-color: #8c644e;
  display: flex;
  padding-top: 30px;
}

.join {
  width: 100%;
}

.arrow {
  width: 27%;
}

.cta-icon-container {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cta-icon-container.grow-cnt {
  width: 29%;
  margin-bottom: -2px;
}

.cta-icon-container.plant-cnt {
  width: 15%;
}

.cta-icon-container.produce-cnt {
  width: 25%;
}

.arrow-container {
}

.arrow-container.reverse {
}

.cta-content.water-cta,
.cta-content.plant-cta {
  text-align: right;
  width: 50%;
}

.availability-cta {
  background-color: #8c644e;
  flex-direction: row-reverse;
  color: white;
}

.light {
  color: #D0DBCC;
}

.regular {
  color: #CBD7C7;
}

@media only screen and (max-width: 688px) {
  .cta {
    padding-top: 20px;
  }

  .cta-header {
    font-size: 12px;
    letter-spacing: 0.06em;
  }

  .cta-content.grow,
  .cta-content.water-cta {
    text-align: right;
  }
  
  .cta-text {
    font-size: 17px;
    line-height: 20px;
    margin: 0px;
    margin-bottom: 3px;
  }
  
  .water {
    width: 100%;
    padding-top: 0px;
  }

  .produce {
    padding-top: 0px;
  }
  
  .plant {
    width: 100%;
    padding-top: 0px;
  }

  .grow {
    padding-top: 0px;
    margin-bottom: -2px;
  }

  .cta.grow {

  }
  
  .cta-icon-container.produce-cnt {
    width: 38%;
  }
  
  .cta-icon-container.grow-cnt {
    width: 38%;
  }
  
  .cta-icon-container.water {
    width: 35%;
  }

  .cta-icon-container.plant-cnt {
    width: 23%;
  }

  .arrow {
    width: 27%;
  }
}
