.contact {
  background-color: #cbd7c7;
  padding: 50px 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 80px;
}

.contact-header {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.135em;
  color: #797979;
  margin: 0;
}

.contact-text {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.contact-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
}

.contact-input {
  width: 69%;
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px solid #000000;
  background-color: #cbd7c7;
  outline: none;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
}

.contact-input::placeholder {
  color: #000000
}

.input-placeholder::placeholder {
  color:  #6C6C6C;
}

.contact-input:-webkit-autofill {
 -webkit-text-fill-color: #000000 !important;
}

.contact-input:-webkit-autofill,
.contact-input:-webkit-autofill:hover, 
.contact-input:-webkit-autofill:focus, 
.contact-input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  border: 2px solid #000000;
}

textarea {
  /* remove base styling */
  border: 2px solid white;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.input-placeholder {
  background-color: #FFFFFF;
  border: 2px solid #6C6C6C;
  color: #6C6C6C;
}

.contact-btn {
  background-color: #E09F3E;
  border: 2px solid #000000;
  padding: 8px 30px;
  border-radius: 8px;
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 15px;
}

.contact-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 688px) {
  .contact-input {
    width: 100%;
  }

  .contact-form {
    padding: 0px;
  }

  .contact-header-container {
    padding: 0px;
  }

  .contact-text {
    font-size: 38px;
    margin-bottom: 40px;
    line-height: 48px;
  }

  .contact-header {
    margin-bottom: 10px;
  }
}
