.header-1 {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  text-align: center;
  letter-spacing: 0.135em;
  color: #797979;
}

.header-2 {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 2.6em;
  color: #000000;
  margin: 0;
  width: 50%;
  text-align: center;
}
