body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}

.header-1 {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  text-align: center;
  letter-spacing: 0.135em;
}

.header-2 {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 2.6em;
  margin: 0;
  width: 50%;
  text-align: center;
}
